In [2]:
import pandas as pd
from pandas.io.json import json_normalize
import numpy as np

d1 = pd.read_csv('2019-Oct-simple.csv')
d2 = pd.read_csv('2019-Nov-simple.csv')
data_out = 'output.csv'

with open(data_out, 'w') as output:
    with open('2019-Oct-simple.csv', 'r')as input:
            line = input.readline()
            while line:
                output.write(line)
                line = input.readline()

    with open('2019-Nov-simple.csv','r')as input:
            line = input.readline()
            while line:
                output.write(line)
                line = input.readline()

In [ ]:
#load the file, read it
data = pd.read_csv(data_out)

In [15]:
# sort the data on 3 columns
df = data.sort_values(['event_type','category_code', 'brand'])

# Find missing data in category_code and brand columns,  and fill it with nan
df.category_code[df['category_code']=='']=np.nan
df.brand[df['brand'] == ''] = np.nan
df.head(-100)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
3630,2019-10-01 02:25:13 UTC,cart,3700717,2053013565983425517,appliances.environment.vacuum,karcher,167.05,518526791,65309775-0d9b-463b-8921-70753f6087e9
4567,2019-10-01 02:27:21 UTC,cart,3700717,2053013565983425517,appliances.environment.vacuum,karcher,167.05,518526791,65309775-0d9b-463b-8921-70753f6087e9
2077,2019-10-01 02:21:04 UTC,cart,1500021,2053013552955916539,computers.peripherals.printer,epson,116.73,513489079,63de1120-9d48-45d0-b024-500d1b95d71f
2240,2019-10-01 02:21:33 UTC,cart,1500021,2053013552955916539,computers.peripherals.printer,epson,116.73,513489079,63de1120-9d48-45d0-b024-500d1b95d71f
2520,2019-10-01 02:22:19 UTC,cart,1500021,2053013552955916539,computers.peripherals.printer,epson,116.73,513489079,63de1120-9d48-45d0-b024-500d1b95d71f
...,...,...,...,...,...,...,...,...,...
9193,2019-11-01 00:27:27 UTC,view,49400035,2134905045613805589,NaN,NaN,151.87,521734903,09a6b807-12f1-4661-b1d2-0d6bf54aa250
9196,2019-11-01 00:27:28 UTC,view,26400193,2053013563651392361,NaN,NaN,253.55,561564372,3dc250b7-9bd1-4c96-a365-0bf42e4cf2ad
9216,2019-11-01 00:27:33 UTC,view,11800010,2053013561243861733,NaN,NaN,3.86,529561032,0eebf7df-d5c7-460d-a6d2-6ea553066ef2
9217,2019-11-01 00:27:34 UTC,view,13102925,2053013553526341921,NaN,NaN,529.23,514173771,e2e0c325-e3c0-4f77-83b7-a11d600f5dd3
9224,2019-11-01 00:27:37 UTC,view,15700031,2053013559733912211,NaN,NaN,198.18,542317384,db6469ca-51fa-45b8-a3cd-d1320005d955

In [14]:
#remove the row if nan in columns of category_code or brand
df = df.dropna()
        
df.head(-500)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
1611,2019-10-01 02:19:25 UTC,view,28400775,2053013566209917945,accessories.bag,baden,61.52,534493194,f76aa6b4-a676-4fd5-94c9-722802417b8e
3476,2019-10-01 02:24:53 UTC,view,28400820,2053013566209917945,accessories.bag,coccinelle,265.64,513347976,1612872d-029c-44ad-989d-92758f79dfd1
7877,2019-11-01 00:19:00 UTC,view,52900018,2139150089359196199,accessories.bag,stanley,12.82,565386300,87fa5d96-59bd-465c-87fb-8aac39baa571
2857,2019-10-01 02:23:14 UTC,view,28400820,2053013566209917945,accessories.bag,coccinelle,265.64,513347976,1612872d-029c-44ad-989d-92758f79dfd1
8787,2019-11-01 00:25:04 UTC,view,28400769,2053013566209917945,accessories.bag,baden,76.96,520551216,1b29b327-c67d-4c25-9b33-7215b1cfc39e
...,...,...,...,...,...,...,...,...,...
9319,2019-11-01 00:28:02 UTC,view,1801849,2053013554415534427,electronics.video.tv,samsung,617.44,513590675,295b71d7-10e2-4358-98b5-a2fec6feb8a7
9184,2019-11-01 00:27:23 UTC,view,1801967,2053013554415534427,electronics.video.tv,lg,501.92,513002084,de613823-8ac0-4a59-951b-a1a106c5f169
9508,2019-11-01 00:29:05 UTC,view,1801955,2053013554415534427,electronics.video.tv,sony,1027.03,516181728,040ec66a-4473-402e-95c1-9b5888e21e2c
6158,2019-11-01 00:07:57 UTC,view,1801805,2053013554415534427,electronics.video.tv,artel,228.76,556727865,8a62e764-2e34-4122-9842-349faabbe5d8
9094,2019-11-01 00:26:51 UTC,view,1801805,2053013554415534427,electronics.video.tv,artel,228.76,534949460,59f9573a-87ea-47c3-af23-a9778e545443